<% include ../partials/portfolioheader.ejs %>
<link rel="stylesheet" href="stylesheets/main.css" type="text/css">



 <div class="container brief">
 	<div class="inner-container container">
 <h1>Hello, my name is Mark.
  I am a Web Developer living in Manchester, UK. </h1>
 	</div>
 </div>

 <div class="container">
 	<div class="home-picture"> 		
 	</div>
 </div>

	<div class="container about-me">
			<div class="inner-container">
		 	<h3 class="h3brand">About me:
		 	</h3>
		 	<p>I am currently working as a Project Manager in a web design and development company and I am looking to transition into a junior full stack web developer. I am experienced in taking PSDs and transforming them into fully dynamic websites, ranging from small brochures to product management sites. I would like to expand upon my current skill set as part of a development team in a commercial environment and in time be able to work on e-commerce sites as well.
		 	</p>
		 	<h3 class="h3brand">Technical Experience:
		 	</h3>
		 	<h4 class="h4brand">FRONT END DEVELOPMENT
		 	</h4>
			<p>I'm experienced in: HTML5 – CSS3 – Javascript & jQuery – Bootstrap – Photoshop.
			</p>
			<h4 class="h4brand">
			BACK END DEVELOPMENT	
			</h4>
			<p>
			These are the back-end technologies I've been working with: MongoDB & Mongoose – Express.js – Node.js – Passport.js.
			</p>
			<h4 class="h4brand">
			OTHER TECHNOLOGIES
			</h4>
			<p>
			MVC – RESTful API – Prototyping – E-mail configuration & troubleshooting – Domain configuration – Command line and a bit of linux.
			</p>
			</div>
	 </div>

<div class="container-fluid bordered">
	  <div class="container">
	  <h3>Have a look at my latest projects.</h3>
	  <a class="project-button" href="/project-list">take me there<span></span></a>
	  	  </div>
 </div>

 <script src="/script.js"></script>

 



